body{
  background-color: black;
}
.example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    padding-left: 10px;
    background-color: rgba(76, 76, 76, 0.278);
  }
  
  .example-small-box {
    height: 100px;
    width: 100px;
  }
  
  .example-large-box {
    height: 300px;
    width: 300px;
  }
  
  img{
    height: 300px;
    width: 300px;
    border-radius: 30px;
    padding: 10px;
    padding-left: 50px
  }
  #explicacion{
    font-size: 25px;
    padding: 5%;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
  }
  .titulo{
    font-size: 50px;
    font-family: 'Muthiara';
    
  }
  .ti{
    display: flex;
    justify-content: center;
    align-items: center;
  }