.servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .servicios img {
    width: calc(25% - 20px);
    height: auto;
    margin: 10px;
    object-fit: cover;
  }
.contenedor{
    display: flex;
    justify-content: center;
}

.calendar, .formu{
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

}
.calendar{
    background-color: black;
}

.formu{
    background-color: rgb(255, 255, 255);
}
.tam{
    width: 100%;

}

.disabled-date, .ui-calendar{
    color: rgb(255, 196, 1);
    background-color: azure;
  }

  .texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .titulo{
	font-size: 50px;
  font-family: 'Muthiara';
}
.ti{
	display: flex;
	justify-content: center;
	align-items: center;
}
 
div{
  font-family: 'Ubuntu-Regular';
}